@import 'type';

$brand: #fff;

/* Shared styles */
h1 {
	position: fixed;
  z-index: 2;
  top: 5px;
  left: 30px;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.navbar-default {
	background-color: $brand;
	border-color: transparent;
}

.navbar-brand {
	padding: 8px;
}

.navbar {
	margin-bottom: 0;
	text-transform: uppercase;
}

.social a {
	position: relative;
  top: 10px;
}

footer {
	background-color: #fff;
	font-family: $font-title;
	font-size: small;
	padding-bottom: 3%;
}

footer > div {
	padding-top: 3%;
}

.link {
	padding-left: 1%;
}

/* App styles */
#main {
	height: 2500px;
}

.hotspot {
	position: absolute;
	z-index: 1;
	opacity: 1;
	margin-top: -1ex;
}

.street-view > img,
.street-view > video {
	width: 100% ;
	height: 100% ;
}

.full > img,
.full > video {
	width: 100% ;
	height: 100% ;
}

.full-width {
 	display: block;
  height: 100;
  width: 100%;
  margin: 0 auto;
}

.headline {
	width: 60%;
}

.story {
	margin: 20px auto;
}

/* Article styles */
#inner {
  margin: 0 auto;
  width: 100%;
}

.cover-text {
	position: absolute;
	padding-top: 10%;
}

.headline-cover {
	margin-bottom: 20px;
}

.sub-text {
	padding-top: 30%;
}

.img-credit-right {
	padding-right: 1%;
}

.cover-timer {
	padding-top: 10%;
	padding-bottom: 20%;
	text-align: center;
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
		/* Article styles */
	.sub-text {
		padding-top: 7%;
	}

	.med-width {
		display: block;
    margin-left: auto;
    margin-right: auto;
	}
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 750px) {
	/* Article styles */
	.sub-text {
		padding-top: 18%;
	}
}

/* Extra small devices (phones, 480px and up) */
@media (max-width: 480px) {
	.headline-cover {
		margin-bottom: 10px;
	}

	.sub-text {
		padding-top: 18%;
	}
}